#buttons {
  grid-area: 3 / 1 / span 1 / span 1;
  background-color: var(--editor-background);
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
  z-index: 5;
}

.button {
  position: relative;
  height: 3rem;
  width: 7rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

#reset-button {
  z-index: 90;
  font-size: 1.75rem;
  color: black;
  cursor: pointer;
}

.hidden {
  left: 3.5rem;
  visibility: hidden;
}

.shown {
  animation: 0.5s linear forwards showButton;
}

@keyframes showButton {
  0% {
    left: 3.5rem;
  }

  50% {
    left: 3.5rem;
  }

  100% {
    left: -1.75rem;
  }
}

#next-button {
  z-index: 100;
}

.no-complete {
  background-color: var(--grey);
  cursor: not-allowed;
  right: 3.5rem;
}

.arrow {
  border: solid black;
  border-width: 0 0.25rem 0.25rem 0;
  display: inline-block;
  padding: 0.4rem;
  margin: 0 -0.15rem;
}

.arrow-left {
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-right {
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#next-button.complete {
  background-color: var(--green);
  cursor: pointer;
  animation: 0.5s linear forwards changeButton;
}

@keyframes changeButton {
  0% {
    right: 3.5rem;
    background-color: var(--grey);
  }

  50% {
    right: 3.5rem;
    background-color: var(--green);
  }

  100% {
    right: -1.75rem;
    background-color: var(--green);
  }
}

.complete > .arrow {
  animation: 0.25s linear moveTogether;
  animation-fill-mode: forwards;
}

@keyframes moveTogether {
  from {
    margin-right: 0;
  }

  to {
    margin-right: 0.35rem;
  }
}

.complete > .arrow-left {
  z-index: 10;
  animation: 0.25s linear rotateArrow;
  animation-fill-mode: forwards;
}

@keyframes rotateArrow {
  from {
    transform: scaleX(1) rotate(135deg);
  }

  to {
    transform: scaleX(-1) rotate(135deg);
  }
}
