#display {
  grid-row: span 2;
  background-color: var(--blue);
  padding: 0 1.5rem 6.5rem;
}

#display > h2 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
  border: solid black;
  border-width: 0 0 0.1rem;
}

.display--array {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.display--array > p {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  font-weight: 700;
}

.array-element {
  display: flex;
  align-items: center;
}

.item-container {
  height: 3.75rem;
  width: 3.75rem;
  margin: 0.25rem 1rem;
  background-color: white;
  border: 0.25rem solid black;
  box-shadow: inset 0 5px hsl(0deg, 0%, 70%);
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-effect {
  animation: 0.25s linear newItem;
}

@keyframes newItem {
  from {
    scale: 0;
  }

  to{
    scale: 1;
  }
}

.array-element > p {
  font-size: 1.5rem;
  font-weight: 700;
}

.item-container > i {
  font-size: 1.75rem;
  padding: 0 1rem;
}
