.display--array-container {
  padding-bottom: 3.5rem;
}

.display--array-container > h2 {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.display--array {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.display--array > p {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  font-weight: 700;
}

.array-element {
  display: flex;
  align-items: center;
}

.item-container {
  height: 4rem;
  width: 4rem;
  margin: 0.25rem 1rem;
  background-color: white;
  border: 0.25rem solid black;
  box-shadow: inset 0 5px hsl(0deg, 0%, 70%);
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-effect {
  animation-name: newItem;
  animation-duration: 0.25s;
  animation-timing-function: linear;
}

@keyframes newItem {
  from {
    scale: 0;
  }

  to{
    scale: 1;
  }
}

.array-element > p {
  font-size: 1.5rem;
  font-weight: 700;
}

.item-container > i {
  font-size: 2rem;
  padding: 0 1rem;
}
