.display--array-container > h2 {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.display--array {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.display--array > p,
.array-item > p {
  font-size: 1.5rem;
  padding: 0.25rem 0;
}

.item-container {
  height: 4rem;
  width: 4rem;
  margin: 0 1rem;
  background-color: white;
  border: 0.25rem solid black;
  box-shadow: inset -5px 4px hsl(0deg, 0%, 70%);
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-container > i {
  font-size: 2rem;
  padding: 0 1rem;
}
