.editor-container {
  font-family: 'Roboto Mono', monospace;
  display: grid;
  align-items: baseline;
  grid-template-columns: 2rem 1fr;
  border: solid var(--grey);
  border-width: 0 0 0.1rem;
  padding-bottom: 0.75rem;
  /* 'grid-auto-flow: dense' fill the gaps of the previous 
  unused spaces of the grid */
  grid-auto-flow: dense; 
}

.editor-container > h2 {
  grid-column: span 2;
  font-family: 'Nunito', sans-serif;
  font-size: 1.7rem;
  border: solid var(--grey);
  border-width: 0 0 0.1rem;
  padding-bottom: 0.5rem;
}

.editor-container > :nth-child(2) {
  padding-top: 0.75rem;
}

.editor-container > .line-number {
  grid-column: 1 / span 1;
  padding-left: 0;
}

.editor-container > p {
  padding: 0 0.5em;
  line-height: 1.75;
}

.code-comment {
  color: var(--grey);
}

.code-input {
  font-family: 'Roboto Mono', monospace;
  font-size: inherit;
  background-color: black;
  color: white;
  border-radius: 0.5em;
  resize: none;
  padding: 0.5em 0.5em;
}