.header {
  width: 100%;
  max-width: 1800px;
  min-width: 350px;
  padding: 1.5rem 1.5rem 0;
  position: absolute;
  display: grid;
  grid-template-columns: 7fr 3fr;
  justify-content: center;
  z-index: 10;
  color: black;
  user-select: none;
}

.title {
  width: fit-content;
  font-size: 1.65rem;
  font-weight: 800;
  background-color: white;
  border-radius: 1.5rem;
  padding: 0.15rem 1.5rem 0;
}

.menu-icon {
  width: fit-content;
  justify-self: right;
  font-size: 1.25rem;
  padding: 0.1rem 1.5rem 0;
  background-color: white;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 200;
}

@media only screen and (max-width: 850px) {
  .level-label {
    display: none;
  }
}

.menu-icon > p {
  padding-left: 0.4em;
  font-size: 1.55rem;
  font-weight: 800;
}

.menu-icon--triangle {
  border-top: 0.5em solid black;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
}

.screen-filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.75;
}
