.header {
  height: 60px;
  width: 90%;
  min-width: 350px;
  max-width: 450px;
  padding: 0 1rem;
  position: fixed;
  top: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: var(--darkblue);
  border-radius: 80px;
  color: white;
  font-family: 'Nunito', sans-serif;
  user-select: none;
}

.header > p {
  font-size: 2rem;
}

.menu {
  font-size: 1.25rem;
  padding: 0.25em 0.75em;
  background-color: white;
  color: var(--darkblue);
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menu:hover {
  background-color: var(--lightblue);
}

.menu:active {
  background-color: white;
}

.menu > p {
  padding-right: 0.4em;
}

.menu--triangle {
  border-top: 0.5em solid var(--darkblue);
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
}
