.header {
  height: 60px;
  width: 100%;
  min-width: 350px;
  padding: 3rem 3.25rem 0;
  position: absolute;
  display: grid;
  grid-template-columns: 7fr 5fr;
  justify-content: center;
  z-index: 10;
  font-family: 'Nunito', sans-serif;
  color: black;
  user-select: none;
}

.title {
  width: fit-content;
  font-size: 1.75rem;
  font-weight: 800;
  background-color: var(--green);
  border-radius: 1.5rem;
  padding: 0 0.75rem;
}

.menu {
  width: fit-content;
  justify-self: right;
  font-size: 1.25rem;
  padding: 0.25em 0.75em;
  background-color: white;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .level-label {
    display: none;
  }
}

.menu > p {
  padding-right: 0.4em;
  font-weight: 900;
}

.menu--triangle {
  border-top: 0.5em solid black;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
}
