.first {
  padding-top: 3.5rem;
}

h1 {
  font-size: 1.7rem;
  padding-bottom: 0.75rem;
  font-weight: 700;
}

.instructions {
  font-size: 1.1rem;
  padding-bottom: 1em;
  text-align: justify;
}

.documentation-link {
  font-size: 1.1rem;
  color: white;
  padding-left: 0.25em;
}

.documentation-link > i {
  font-size: 1rem;
}
