.main {
  min-height: 100vh;
  max-width: 1600px;
  display: grid;
  grid-template-columns: 5.5fr 4.5fr;
}

@media only screen and (max-width: 750px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instructions--editor {
  background-color: var(--editor-background);
  color: white;
}

.display {
  background-color: var(--green);
  justify-content: flex-start;
}

.level-clear {
  padding-top: 6rem;
  text-align: center;
  font-size: 3rem;
  font-family: 'Fuzzy Bubbles', cursive;
}

aside.owls-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
