.main {
  min-height: 100vh;
  max-width: 1600px;
  display: grid;
  grid-template-columns: 5.5fr 4.5fr;
}

@media only screen and (max-width: 750px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instructions--editor {
  background-color: var(--editor-background);
  color: white;
}

.display {
  background-color: var(--blue);
  justify-content: flex-start;
}

.display-complete {
  animation: 0.25s linear forwards changeDisplayColour;
}

@keyframes changeDisplayColour {
  from {
    background-color: var(--blue);
  }

  to {
    background-color: var(--green);
  }
}

.level-clear {
  font-family: 'Fuzzy Bubbles', cursive;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  opacity: 0;
  padding-top: 6rem;
}

.level-clear.level-complete {
  transform-origin: bottom;
  animation: 0.25s linear forwards changeHeadingColour;
}

@keyframes changeHeadingColour {
  0% {
    opacity: 0;
    transform: scale(1.75);
  }

  25% {
    opacity: 0;
    transform: scale(1.75);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

aside.owls-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
