.owl {
  align-self: center;
  font-size: 7px;
  height: 29em;
  margin: 0 3em;
  cursor: pointer;
  transform-origin: bottom;
  z-index: 1;
}

/* Owl Top */

.owl--top {
  align-self: center;
  height: 15em;
  width: 20em;
  border-radius: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Owl Ears */

.owl--ears {
  display: flex;
  justify-content: space-between;
  height: 5em;
  width: 18em;
}

.ear {
  height: 12em;
  width: 6em;
  background-color: black;
}

.left-ear {
  transform: skew(10deg) skewY(20deg);
  border-radius: 14px;
}

.right-ear {
  transform: skew(-10deg) skewY(-20deg);
  border-radius: 14px;
}

/* Owl Eyelashes */

.owl--eyelashes {
  width: 15em;
  position: relative;
  bottom: 20.5em;
  display: flex;
  justify-content: space-between;
  z-index: 50;
}

.eyelashes-container {
  display: flex;
  align-items: flex-end;
  rotate: -55deg;
}

.right-eyelashes {
  rotate: 55deg;
}

.eyelash {
  width: 0.4em;
  height: 1.75em;
  margin: 0.05em;
  border-radius: 100% 0;
  background-color: white;
}

.eyelash-medium {
  height: 1.5em;
}

.eyelash-small {
  height: 1.25em;
}

.eyelash-right {
  border-radius: 0 100%;
}

/* Owl Eyes */

.owl--eyes {
  height: 9em;
  width: 18.25em;
  position: relative;
  top: -2em;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.eye-container {
  height: 8.5em;
  width: 8.5em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
}

.left-eye {
  left: 0.5em;
}

.right-eye {
  right: 0.5em;
}

.eye-ball {
  height: 4.5em;
  width: 4.5em;
  background-color: black;
  box-shadow: 0 0 0 4px hsl(120, 25%, 50%);
  border-radius: 50%;
  z-index: 50;
}

.mr-eye-ball {
  box-shadow: 0 0 0 4px hsl(15deg, 35%, 25%);
}

.eye-reflection {
  height: 1em;
  width: 1em;
  position: relative;
  top: 0.75em;
  left: 1.25em;
  background-color: white;
  border-radius: 50%;
}

/* Owl Nose */

.owl--nose {
  position: relative;
  top: -4.5em;
  z-index: 20;
}

.nose-left {
  display: inline-block;
  border-top: 2em solid transparent;
  border-right: 1.75em solid hsl(130, 0%, 50%);
  border-bottom: 2.5em solid transparent;
}

.nose-right {
  display: inline-block;
  border-top: 2em solid transparent;
  border-left: 1.75em solid hsl(130, 0%, 75%);
  border-bottom: 2.5em solid transparent;
}

/* Owl Eyelids */

.owl--eyelids {
  display: flex;
  z-index: 50;
  position: relative;
  bottom: 100px;
}

.eyelid {
  width: 7.5em;
  height: 5.25em;
  border-radius: 50%;
  background-color: transparent;
}

/* Blinking Effect */

.closed-eye {
  background-color: white;
}

/* This css style will be applied when the user has completed each level
to simulate a happy owl expression */

.owl--eyelids-complete {
  bottom: 90px;
}

.eyelid-complete {
  width: 6em;
  margin: 0 5px;
  background-color: white;
}


/* Owl Bottom */

.owl--body {
  position: relative;
  top: -7em;
  height: 20em;
  width: 20em;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Owl Wings */

.owl--wing {
  display: flex;
  position: relative;
  transform-origin: top;
}

.left-wing {
  left: -7px;
  top: -3px;
  rotate: 20deg;
}

.left-wing--down {
  rotate: 10deg;
}

.right-wing {
  right: -7px;
  top: -3px;
  rotate: -20deg;
}

.half-wing {
  height: 12em;
  width: 3em;
  overflow: hidden;
}

.right-wing--down {
  rotate: -10deg;
}

.circleOne {
  width: 15em;
  height: 15em;
  position: relative;
  top: -11px;
  background-color: black;
  border-radius: 50%;
}

.circleTwo {
  width: 15em;
  height: 15em;
  position: relative;
  top: -11px;
  right: 84px;
  background-color: black;
  border-radius: 50%
}

/* Owl Feet */

.owl--feet {
  position: relative;
  bottom: 9em;
  display: flex;
  justify-content: center;
}

.foot {
  display: flex;
  padding: 0 1.5em;
}

.finger {
  width: 1.5em;
  height: 3em;
  background-color: black;
  border-radius: 50%;
}

.left-finger {
  position: relative;
  left: 0.25em;
}

.right-finger {
  position: relative;
  right: 0.25em;
}
